* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #eff2f6;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
}
.logo {
  color: #18214d;
  font-weight: 700;
  font-size: 1.2rem;
}
.nav {
  font-weight: 400;
  font-size: 2.5rem;
}
.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.list-item {
  color: #18214d;
}
.description {
  padding: 30px 70px;
  display: flex;
  justify-content: space-evenly;
}
.description-wrapper {
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
}
.description-wrapper h1 {
  color: #29335c;
  font-size: 72px;
}
.description-wrapper p {
  color: #3e4462;
  font-weight: light;
  font-size: 20px;
  padding: 0.9rem 4rem;
  line-height: 1.2;
}
.search-container {
  width: 70%;
  margin: 0 auto;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-wrapper {
  display: flex;
  align-items: center;
  padding: 8px 15px;
  background-color: #fff;
  border-radius: 8px;
  position: relative;
}
.search-input {
  font-size: 20px;
  padding: 8px;
  /* width: 600px; */
  width: 100%;
  border: none;
  outline: none;
  margin-left: 1rem;
}
::placeholder {
  font-size: 20px;
}
.fa-search {
  font-size: 20px;
  position: absolute;
  top: 16px;
}
.search-btn {
  background: #f3663f;
  color: #ffffff;
  border-radius: 8px;
  margin-left: 0.7rem;
  padding: 15px;
  border: none;
  cursor: pointer;
}
.suggested-repo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.repo-text {
  font-weight: 400;
  font-size: 14px;
  color: #3e4462;
}
.repo-btns {
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.btn-item {
  margin-right: 1rem;
  padding: 8px 16px;
  background: #29335c;
  border-radius: 8px;
  color: #FFFFFF;
  border: none;
}

@media (max-width: 1200px) {
  .description p {
    padding: 0.4rem 0rem;
  }
}
@media (max-width: 920px) {
  .search-container {
    flex-direction: column;
  }
  .btn-wrapper {
    margin-top: 1rem;
  }
  .search-btn {
    padding: 10px 30px;
    max-width: 400px;
  }
}
@media (max-width: 768px) {
  .search-container {
    flex-direction: column;
  }
  /* .search-wrapper {
    max-width: 100%;
  }
  .search-input {
    width: 100%;
  } */
}

@media (max-width: 600px) {
  .header {
    flex-direction: column;
  }
  .nav {
    margin-top: 0.7rem;
  }
  .description-wrapper h1 {
    font-size: 40px;
  }
  .description-wrapper p {
    font-size: 16px;
  }
}
@media (max-width: 280px) {
  .logo {
    font-size: .8rem;
  }
  .nav {
    font-size: 1.5rem;
  }
  .description-wrapper h1 {
    font-size: 20px;
  }
}